<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li><a>Links to Croquet Sites</a>
      <ul>
      </ul>
    </li>
    <li> <%= link_to "Club Matter", clubmatters_path %></li>
    <li> <%= link_to "How to get There", howtogetthere_path %></li>
    <li> <%= link_to "How to Join", howtojoin_path %></li>
    <li> <%= link_to "What you need", whatyouneed_path %></li>
    <li> <%= link_to "Bookings", whatyouneed_path %></li>
    <li> <%= link_to "Newsletters", whatyouneed_path %></li>
    <li> <%= link_to "Programmes", whatyouneed_path %></li>
  </ul>
</nav>